<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b380cc3ad9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/edit.css" >
    <title>Blog Dev</title>
</head>
<body>
    <header>
        <nav class="nav-bar">
            <div class="logo">
                <p>BlogDev+</p>
            </div>
            <div class="nav-link">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/write">Write</a></li>
                    <!--<li><a href="/contact">Contact</a></li>-->
                </ul>
            </div>
        </nav>
    </header>
</body>
</html>