<%- include('partials/header.ejs') %>


<h1>Olá teste</h1>

<form method="POST" action="/submit">
    <label for="title">Title: </label>
    <input type="text" id="title" name="title"/><br>
    <label for="postxt">Text: </label>
    <input type="text" id="postxt" name="postxt"/>
    <input type="submit" id="btnsub" name="btnsub"/>
</form>

<h1><%= title %></h1>
<p><%= text %></p>

<%- include('partials/footer.ejs') %>