<%- include('partials/header.ejs') %>

<link rel="stylesheet" href="styles/write.css" />

<body>
    <section id="form-container">
        <h1>New Post <i class="fa-solid fa-feather"></i></h1>
        <form method="POST" action="/submit">
            <div class="form-container">
                <label for="title">Title: </label>
                <input type="text" id="title" name="title"/><br>
                <label for="postxt">Content: </label>
                <textarea type="text" id="postxt" name="postxt" rols="5" cols="100" maxlength="300"></textarea><br>
                <button type="submit" id="btnSub" name="btnSub">Submit</button>
            </div>
        </form>
    </section>
</body>

<%- include('partials/footer.ejs') %>