.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--background);
    color: white;
    height: 100px;
    box-shadow: 5px 1px 5px var(--boxshadow);
    position: fixed;
    width: 100%;
    z-index: 10;
}

.logo {
    font-weight: 600;
    font-size: 2rem;
}

.nav-link ul {
    display: flex;
    gap: 30px;
    font-weight: 600;
}

.nav-link a {
    color: white;
    transition: 0.3s;
    text-decoration: none;
}

.nav-link a:hover {
    color: rgb(182, 181, 181);
}