#form-container {
    padding-top: 100px;
    height: calc(100vh - 100px);
}

h1 {
    text-align: center;
    font-size: 2rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

/* Estilos para o formulário */
.form-container {
    margin: 0 auto;
    max-width: 600px;
    position: relative;
    background-color: #efeeee;
    padding: 5rem;
    border-radius: 10px;
    height: 500px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 1.2rem;
}

textarea {
    height: 200px;
    resize: none;
}

input,
textarea {
    width: 100%;
    padding: 14px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

#btnSub {
    position: absolute;
    right: 0;
    background-color: #45a22c;
    color: #fff;
    padding: 10px 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#btnSub:hover {
    background-color: #146805;
}

footer {
    margin-top: 2.8rem;
}

.footer-author {
    padding-bottom: 10px;
}